*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: bisque;
}

.form-label{
  font-size: x-large;
  font-weight: 700;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.addproducts{
  display: flex;
  justify-content: center;
}
Form{
  width: 50%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
}

Nav{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: antiquewhite;
  font-weight: 600;
  font-size: larger;
}



.all-pdt-con{
  display: flex;
  justify-content: center;
}

.products{
  width: 80%;
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 400px);
  grid-auto-rows: 400px;
  grid-gap: 100px; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.feature-pdts{
  display: flex;
  justify-content: center;
  height: 600px;
}

.more-pdts{
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1,400px);
  grid-auto-rows: 400px;
  grid-gap: 100px;
}

.detail-con{
  display: flex;
  justify-content: center;
}

.details{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 80px;
}

.images{
  /* border: solid 1px black; */
  height: 500px;
  width: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  border: solid 2px black;
  height: max-content;
  padding: 20px;
  border-radius: 7px;
  width: 800px;
}

.span-price{
  font-size: xx-large;
}

.span-des{
  font-size: larger;
}

.info-label{
  font-size: x-large;
}

.button-group{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.img{
  display: flex;
  justify-content: center;
}

.carousal-con img{
  height: 500px;
}

.feature{
  display: flex;
  justify-content: center;
}

.feature-text, #top-rated{
  margin-top: 50px;
  font-size: xx-large;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-thickness: 7px;
}

#top-rated{
  margin-top: 0px;
  margin-bottom: 50px;
}

.card-com{
  display: flex;
  flex-direction: row;
  border: solid 1px rgba(253, 239, 239, 0.5);
  /* background-color: whitesmoke; */
  border-radius: 7px;
  row-gap: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  height: 300px;
  background-color: white;
}

.card-image{
  width: 300px;
}


.card-com .image img{
  width: 370px;
}

.pro-short{
  padding: 50px;
  display: flex;
  flex-direction: column;
  
}

.pro-short .pro-name{
  cursor: pointer;
  font-size: x-large;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.pro-short .pro-name:hover{
  color: chocolate;
}

footer{
  height: 100px;
  background-color: rgb(14, 137, 245);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdt-card-title:hover{
  color: chocolate;
  cursor: pointer;
}

.card{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card:hover{
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.home{
  background-color: rgb(223, 230, 250);
  height: 100%;
}

.home-cover{
  height: 700px;
  width: 1518px;
  margin-bottom: 30px;
}

.home-info{
  position: absolute;
  top: 250px;
  width: 500px;
  margin-left: 100px;
}

.home-info-title{
  font-size: 3.5rem;
  color: yellow;
  font-weight: 700;
}

.home-info-details{
  border-left: solid 5px yellow;
  margin-top: 10px;
  padding-left: 20px;
  border-radius: 5px;
}

.shop-now{
  width: 200px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
}

.about{
  margin-top: 50px;
  background-color: rgb(223, 230, 250);
}

.about-span{
  padding: 50px;
  font-size: large;
}

.Login{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  /* row-gap: 100px; */
}

.Login form{
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  width: 400px;
}


.Login button{
  margin-top: 10px;
  font-size: 20px;
}
.Signin{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  /* row-gap: 100px; */
}

.Signin form{
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  width: 400px;
}


.Signin button{
  margin-top: 10px;
  font-size: 20px;
}

.address{
  display: flex;
  justify-content: center;
}

.cartcom{
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 700px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.cart-image{
  width: 300px;
  padding: 10px;
}

.cart-image img{
  width: 200px;
}

#pro-name{
  font-size: larger;
  font-weight: 500;
}

.pro-de{
  width: 400px;
}

#pro-price{
  font-size: x-large;
  color: green;
}

.carts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 50px;
}

.bill-pay{
  width: 400px;
  height: 300px;
  background-color: white;
  padding: 20px;
}

#price-details{
  font-size: x-large;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.small-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

.small-cards img{
  height: 100px;
  width: 200px;
  padding: 10px;
}

.popular, .feature{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 40px;
}
.popular-text, .feature-title{
  margin-left: 45px;
  font-size: x-large;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.dealofday{
  margin-top: 40px;
  background-color: rgb(1, 1, 52);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  margin-bottom: 30px;
}

.deal-text{
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.all-pdt-con{
  background-color: rgb(223, 230, 250);
}